.product-page {
    
    &__content {
        background-color: #f7f7f7;
        padding-bottom: 60px;
    }

    &__bread-crumbs {}

    &__product {}

    &__products {
        
        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        flex: 0 0 25%;
        max-width: 25%;
        display: flex;
        justify-content: center;
        
        @media(max-width: 1020px) {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        @media(max-width: 756px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media(max-width: 525px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &__product-item {}
}

.product {
    margin: 0px 0px 8px 0px;

    &__board {}

    &__row {
        display: flex;

        @media(max-width: 842px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__view {}

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__name {}

    &__buy {}

    &__share {}

    &__delivery-and-payment {
        background-color: #fff;
        border: 1px solid #e9e9e9;
        padding: 13px 8px 0px 11px;

        @media(max-width: 1095px) {display: none;}
    }

    &__delivery {

        &-title {
            position: relative;
            padding: 0px 0px 0px 45px;
            color: #000000;
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0px 0px 23px 0px;
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 18px;
                top: 0;
                left: 3px;
                background: url("../img/icons/delivery-orange.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    &__payment {

        &-title {
            position: relative;
            padding: 0px 0px 0px 42px;
            color: #000000;
            font-size: 17px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 0px 0px 20px 0px;
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 18px;
                top: 0;
                left: 3px;
                background: url("../img/icons/payment.png") no-repeat;
                background-size: 100% 100%;
            }
        }

        &-ways {
            font-size: 14px;
            font-weight: 400;
            color: #000;

            & span {
                color: #00b5ab;
            }
        }
    }

    &__properties {
        background-color: #fff;
    }

    &__tabs-nav {
        display: flex;
        padding: 12px 15px 0px 4px;
        border-bottom: 2px solid #E5E5E5;

        @media(max-width: 842px) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px 10px 0px 10px;
        }
        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__tabs-nav-item {
        padding: 13px 13px 14px 13px;
        margin: 0px 14px 0px 12px;
        color: #292626;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        text-transform: uppercase;

        @media(max-width: 842px) {
            padding: 10px;
            
            margin: 0px 10px 0px 10px;
        }
        @media(max-width: 768px) {font-size: 15px;}

        &.active {border-bottom: 2px solid #FD9B00;}
    }

    &__tabs-content {}

    &__tab {
        &.active {}
    }

    &__product-description {}
}

.view {
    flex: 1 0 auto;
    max-width: 391px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    padding: 0px 0px 10px 0px;

    @media(max-width: 842px) {max-width: 100%;}

    &__tabs {
        width: 100%;
        height: 302px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__tab {

        &.active {}

        & img {}
    }
    &__tabs-nav {
        position: absolute;
        top: -19px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        margin: 0px 0px 10px 0px;
        &.active {}

        &-wrapper {
            position: relative;
            height: 55px;

            @media(max-width: 500px) {height: 15px;}
        }
    }
    &__tabs-nav-item {
        width: 64px;
        height: 64px;
        border: 1px solid #e5e5e5;
        margin: 0px 5.5px 0px 5.5px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 500px) {
            position: relative;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 0px 15px;
            background-color: #e5e5e5;

            &.active {
                &:before {
                    position: absolute;
                    content: '';
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid #e5e5e5;
                }
            }
        }

        & img {
            object-fit: cover;

            @media(max-width: 500px) {display: none;}
        }
    }
    &__watch-video {
        width: 100%;
        display: flex;
        justify-content: center;

        &-btn {
            background-color: transparent;
            padding: 15px 20px 16px 66px;

            & span {
                position: relative;
                color: #fd9b00;
                font-size: 14px;
                font-weight: 400;
                &:before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top: -6px;
                    left: -40px;
                    background: url("../img/icons/watch-video.png") no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
}

.name {
    padding: 15px 15px 20px 13px;
    background-color: #fff;
    border: 1px solid #e9e9e9;

    @media(max-width: 842px) {text-align: center;}

    &__title {
        max-width: 350px;
        color: #292626;
        font-size: 26px;
        font-weight: 500;
        line-height: 38px;
        text-transform: uppercase;
        margin: 0px 0px 10px 0px;

        @media(max-width: 1300px) {font-size: calc(7px + 19 * (100vw / 1300));}
        @media(max-width: 1011px) {font-size: 21.5px;}
        @media(max-width: 842px) {
            font-size: 26px;
            margin: 0 auto 10px auto;
        }
        @media(max-width: 625px) {font-size: calc(7px + 19 * (100vw / 625));}
    }

    &__description {
        display: inline-block;
        color: #7c7373;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        margin: 0px 0px 20px 0px;
    }

    &__stock {
        position: relative;
        display: block;
        color: #39c05f;
        font-size: 15px;
        font-weight: 400;
        padding: 0px 0px 0px 40px;
        max-width: 120px;
        @media(max-width: 842px) {margin: 0 auto;}
        &:before {
            content: '';
            position: absolute;
            top: -6px;
            left: 2px;
            width: 24px;
            height: 24px;
            background: url("../img/icons/in-stock.jpg") no-repeat;
            background-size: 100% 100%;
        }
    }
}

.buy {
    padding: 21px 13px 19px 13px;
    background-color: #fff;
    border: 1px solid #e9e9e9;

    @media(max-width: 1095px) {
        display: flex;
        justify-content: center;
    }
    @media(max-width: 625px) {display: block;}

    &__row {
        display: flex;

        @media(max-width: 1226px) {flex-wrap: wrap;}
        @media(max-width: 1095px) {flex-wrap: nowrap;}
        @media(max-width: 1011px) {flex-wrap: wrap;}
        @media(max-width: 842px) {flex-wrap: nowrap;}
        @media(max-width: 625px) {flex-wrap: wrap;}
    }

    &__column {
        margin: 0px 12px 0px 0px;

        @media(max-width: 1226px) {
            margin: 0px 0px 15px 0px;
            width: 100%;
        }
        @media(max-width: 1095px) {margin: 0px 13px 0px 0px;}
        @media(max-width: 1011px) {margin: 0px 0px 15px 0px;}
        @media(max-width: 842px) {margin: 0px 13px 0px 0px;}
        @media(max-width: 625px) {margin: 0px 0px 15px 0px;}

        &:last-child {

            margin: 0;
            @media(max-width: 1226px) {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            @media(max-width: 1095px) {display: block;}
            @media(max-width: 1011px) {display: flex;}
            @media(max-width: 842px) {display: block;}
            @media(max-width: 625px) {display: flex;}
            @media(max-width: 420px) {flex-direction: column;}
        }
    }

    &__price {
        display: flex;
        margin: 0px 0px 23px 0px;
        padding: 0px 0px 0px 8px;
        
        @media(max-width: 1226px) {justify-content: center;}
        @media(max-width: 1095px) {justify-content: flex-start;}
        @media(max-width: 1011px) {justify-content: center;}
        @media(max-width: 842px) {justify-content: flex-start;}
        @media(max-width: 625px) {justify-content: center;}
    }

    &__old-price {
        color: #7c7373;
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        margin: 0px 30px 0px 0px;

        @media(max-width: 625px) {
            margin: 0px 22px 0px 0px;
            font-size: calc(13px + 7 * (100vw / 625));
        }
    }

    &__new-price {
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;

        @media(max-width: 625px) {font-size: calc(16px + 8 * (100vw / 625));}
    }

    &__quantity-buy-button-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 420px) {
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        margin: 0px 23px 0px 0px;

        @media(max-width: 1226px) {
            width: 45%;
            justify-content: center;
        }      
        @media(max-width: 420px) {margin: 0px auto 20px auto;}
    }

    &__minus {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        margin: 0px 12px 0px 0px;
    }

    &__value {
        width: 40px;
        height: 40px;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 12px 0px 0px;

        & span {
            color: #7c7373;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    &__plus {}

    &__buy-button {
        flex: 0 0 auto;
        padding: 17px 61px 17px 77px;
        background-color: #fd9b00;
        &:hover {
            background-color: #fff;
			outline: 1px solid #ff9c00;
			outline-offset: -1px;
            & span {
                color: #000;
                &:before {
                    position: absolute;
                    content: '';
                    width: 22px;
                    height: 24px;
                    top: -6px;
                    left: -35px;
                    background: url("../img/icons/buy-basket-black.png") no-repeat;
                    background-size: 100% 100%;
                }
            }
        }

        @media(max-width: 1226px) {padding: 17px 61px 17px 81px;}
        @media(max-width: 1095px) {padding: 17px 61px 17px 77px;}
        @media(max-width: 1011px) {padding: 17px 61px 17px 81px;}
        @media(max-width: 842px) {padding: 17px 61px 17px 77px;}
        @media(max-width: 625px) {padding: 17px 61px 17px 81px;}
        @media(max-width: 480px) {padding: 15px 54px 15px 77px;}

        & span {
            position: relative;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            &:before {
                position: absolute;
                content: '';
				width: 22px;
				height: 24px;
                top: -6px;
                left: -35px;
                background: url("../img/icons/buy-basket.png") no-repeat;
                background-size: 100% 100%;
            }

            @media(max-width: 480px) {font-size: 14px;}
        }
		&:after {
			position: absolute;
			content: '';
			width: 40px;
			height: 46px;
			bottom: 0;
			right: 0;
			background: url("../img/icons/buy-after.png") no-repeat;
			background-size: 100% 100%;
		}
    }

    &__comparison {
        display: block;
        padding: 5px 0px 0px 44px;
        margin: 0px 0px 23px 0px;

        @media(max-width: 1226px) {margin: 0px 20px 0px 0px;}
        @media(max-width: 1095px) {margin: 0px 0px 23px 0px;}
        @media(max-width: 1011px) {margin: 0px 20px 0px 0px;}
        @media(max-width: 842px) {margin: 0px 0px 23px 0px;}
        @media(max-width: 625px) {margin: 0px 20px 0px 0px;}
        @media(max-width: 420px) {margin: 0px 0px 20px 0px;}
        
        & span {
            position: relative;
            color: #000000;
            font-size: 14px;
            font-weight: 400;
            &:before {
                position: absolute;
                content: '';
                width: 2.3em;
                height: 2.3em;
                top: -10px;
                left: -45px;
                background: url("../img/icons/scales.jpg") no-repeat;
                background-size: 100% 100%;
                @media(max-width: 1163px) {top: 0;}
                @media(max-width: 1095px) {top: -10px;}
                @media(max-width: 896px) {top: 0;}
                @media(max-width: 842px) {top: -10px;}
                @media(max-width: 505px) {top: 0;}
                @media(max-width: 420px) {top: -10px;}
            }
        }
    }

    &__one-click {
        flex: 0 0 auto;
        padding: 17px 18px;
        background-color: #00b5ab;
        &:hover {
            background-color: #fff;
			outline: 1px solid #00b5ab;
			outline-offset: -1px;
            & span {
                color: #7c7373;
            }
        }

        @media(max-width: 1226px) {padding: 17px 19px;}
        @media(max-width: 480px) {padding: 15px 17px;}

        & span {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            white-space: nowrap;

            @media(max-width: 480px) {font-size: 14px;}
        }
    }
}

.share {
    flex: 1 0 auto;
    position: relative;
    padding: 17px 17px 12px 17px;
    background-color: #fff;
    border: 1px solid #e9e9e9;

    @media(max-width: 1226px) {padding: 10px 10px 0px 10px;}
    @media(max-width: 1095px) {padding: 16px 16px 0px 16px;}
    @media(max-width: 1011px) {padding: 10px 10px 0px 10px;}
    @media(max-width: 842px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 16px 10px 16px;
    }
    

    &__text {
        display: inline-block;
        color: #7c7373;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        margin: 0px 0px 12px 0px;

        @media(max-width: 1226px) {
            display: none;
            margin: 0px 0px 10px 0px;
        }
        @media(max-width: 1095px) {
            display: block;
            margin: 0px 0px 15px 0px;
        }
        @media(max-width: 1011px) {
            display: none;
            margin: 0px 0px 10px 0px;
        }
        @media(max-width: 842px) {
            display: block;
            margin: 0px 0px 15px 0px;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 842px) {
            justify-content: center;
        }
    }

    &__link {
        margin: 0px 14px 0px 0px;

        @media(max-width: 1226px) {margin: 0px 10px 10px 0px;}
        @media(max-width: 1095px) {margin: 0px 14px 0px 0px;}
        @media(max-width: 1011px) {margin: 0px 10px 10px 0px;}
        @media(max-width: 842px) {margin: 0px 5px 10px 5px;}

        &:last-child {
            margin: 0;

            @media(max-width: 842px) {margin: 0px 5px 10px 5px;}
        }
    }
}

.pickup {
    margin: 0px 0px 33px 0px;

    &__title {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        margin: 0px 0px 15px 0px;
    }
    &__text {
        color: #7c7373;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin: 0px 0px 10px 0px;

        &:nth-child(3) {margin: 0px 0px 18px 0px;}
    }
}

.product-description {
    padding: 27px 16px 24px 15px;

    @media(max-width: 500px) {padding: 15px 16px 0px 15px;}

    &__table {
        display: block;
    }

    &__manufacturer {@media(max-width: 500px) {display: block;}}
    &__appointment {@media(max-width: 500px) {display: block;}}
    &__made-in {@media(max-width: 500px) {display: block;}}

    &__key {
        display: block;
        color: #7c7373;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin: 0px 36px 0px 0px;
    }
    &__value {
        color: #7c7373;
        font-size: 16px;
        line-height: 20px;
        color: #292626;
        font-weight: 500;

        @media(max-width: 500px) {
            display: block;
            margin: 0px 0px 15px 0px;
        }
    }
}
